#!groovy
 
import jenkins.model.*
import hudson.security.*
 
def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
 
hudsonRealm.createAccount("mkd_test1","mkd_test_passwd_1")
 
instance.setSecurityRealm(hudsonRealm)

def strategy = new hudson.security.FullControlOnceLoggedInAuthorizationStrategy()
strategy.setAllowAnonymousRead(true)
instance.setAuthorizationStrategy(strategy)
 
instance.save()
