---
- name: Installing Git - Maven
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - git
    - maven
    - build-essential
  become: yes
 
- name: Adding Oracle Repository
  apt_repository:
    repo: 'ppa:webupd8team/java'
 
- name: Accept Oracle License
  debconf: name='oracle-java8-installer' question='shared/accepted-oracle-license-v1-1' value='true' vtype='select'
 
- name: Installing Java-8
  apt:
    name: oracle-java8-installer    
    state: present
    update_cache: yes
  become: yes
 
- name: Adding Jenkins Repository Key
  apt_key:
    url: "https://jenkins-ci.org/debian/jenkins-ci.org.key"
    state: present
    validate_certs: no
  become: yes
 
- name: Check For Jenkins List   
  stat:
    path: /etc/apt/sources.list.d/jenkins.list
  register: jenkins_list
 
- name: Adding Jenkins Source List
  shell: sh -c 'echo deb http://pkg.jenkins.io/debian-stable binary/ > /etc/apt/sources.list.d/jenkins.list'
  become: yes
 
- name: Installing Jenkins
  apt:
    name: jenkins    
    state: present
    update_cache: yes
  register: jenkins_install
  become: yes
 
- name: Copy the demo-config.xml file
  template: src=demo-config.xml.j2 dest=/var/lib/jenkins/config.xml
  become: yes
 
- name: Enable the firewall
  shell: ufw enable
  become: yes
 
- name: Open port 8080
  shell: ufw allow 8080
  become: yes

- name: Restart Jenkins
  service:
    name: jenkins
    state: restarted
  become: yes

- name: "Wait For Jenkins To Come Up"
  uri:
    url: "http://{{jenkins_ip}}:{{jenkins_port}}/cli/"
    status_code: 403
  register: result
  until: result.status == 403
  retries: 60
  delay: 10
  when: jenkins_install.changed

- name: Creating Groovy Directory
  file:
    path: "/var/lib/jenkins/init.groovy.d"
    state: directory
    mode: 0777
  become: yes
 
- name: Create a template xml file for Jenkins checkbox build job
  template: src=jenkins_script.groovy.j2 dest=/var/lib/jenkins/init.groovy.d/basic-security.groovy mode=0777
  become: yes

- name: Restart Jenkins
  service:
    name: jenkins
    state: restarted
  become: yes

- name: "Wait For Jenkins To Come Up"
  uri:
    url: "http://{{jenkins_ip}}:{{jenkins_port}}/cli/"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 60
  delay: 10

- name: Removing User-Creation Script
  file:
    path: "/var/lib/jenkins/init.groovy.d/basic-security.groovy"
    state: absent
  become: yes
 
- name: Install Jenkin Plugins
  jenkins_plugin:
    name: "{{ item }}"
    params: "{{ jenkins }}"
  with_items:
    - maven-plugin
    - github
    - jacoco
    - junit
    - test-stability
    - postbuildscript
    - build-timeout
    - postbuild-task
    - ws-cleanup
  become: yes

  register: jenkins_plugins
 
- name: Restarting Jenkins Again for Plugins
  service:
    name: jenkins
    state: restarted
  become: yes
 
- name: "Wait For Jenkins To Come Up"
  uri:
    url: "http://{{jenkins_ip}}:{{jenkins_port}}/cli/"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 60
  delay: 10
...
